@import 'normalize.scss';

@mixin font-lato {
          font-family: 'Lato', sans-serif;
}
@mixin font-montserrat {
          font-family: 'Montserrat', sans-serif;
}

$color-white: #ffffff;
$color-main: #414141;
$color-grey: #6c6c6c;
$color-yellow: #fe9858;
$color-pink: #fe4fa7;
$color-bg-card: #f6fafd;
$color-btn-border: #e2e2e2;


*{
          box-sizing: border-box;
}

body{
          @include font-lato;

          color: $COLOR-MAIN;
}

.section-outer {}
.section-inner {
          width: 1180px;
          margin: 0 auto;
}

.description-item {
          &__icon {
                    margin-bottom: 20px;
          }
          &__title {
                    margin-bottom: 14px;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: bold;
          }
          &__text {
                    font-size: 16px;
                    line-height: 28px;
                    font-weight: 300;
                    color: $color-grey;
          }    
}

@mixin start-button {
          @include font-montserrat;

          font-size: 16px;
          outline: none;
          margin: 0;
          border: none;
          padding: 16px 20px;
          border-radius: 4px;
          cursor: pointer;
          text-decoration: none;
          display: inline-block;
}

     
.btn-main {
          @include  start-button;
          border: none;
          background: linear-gradient(to right, $color-yellow, $color-pink);
          color: $color-white;

          &:hover {
                    background: linear-gradient(to right, $color-pink, $color-yellow);
          }
}
.btn-secondary {
          @include  start-button;
          border: 1px solid $COLOR-MAIN;
          background:  $color-white;
          color: $COLOR-MAIN;
          &:hover {
                    color: $color-pink;
                    border-color: $color-pink;
          }
}
.btn-free {
          @include  start-button;
          border: none;
          background:  $color-white;
          color: $COLOR-MAIN;
}


// === header ===
.section-header{
          color: $color-white;
          background: url('../img/bg-header.png') no-repeat 50% 50%;
          background-size: cover;
          position: relative;
          .section-inner {
                    height: 100vh;
                    position: relative;
                    z-index: 10;
                    display: flex;
                    flex-direction: column;
          }
          &::before{
                    content: '';
                    position: absolute;
                    z-index: 5;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(20, 39, 41, .6);
          }
          &-logo {
                    font-weight: bold;
                    font-size: 24px;
                    flex-shrink: 1;
                    padding-top: 35px;
          }
          &-content {
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
          }
          &-wrapper {
                    margin: 0 auto;
                    &__title,
                    &__subtitle {
                              text-align: center;
                    }

                    &__title {
                              font-weight: bold;
                              font-size: 56px;
                              line-height: 60px;
                              margin-bottom: 16px;
                    }
                    &__subtitle {
                              @include font-montserrat;

                              font-size: 18px;
                              line-height: 32px;
                              margin: 0 auto 44px;
                              width: 80%;
                    }
                    &__form {
                              display: flex;
                              &-input {
                                        flex: 1;
                                        padding-right: 40px;
                                        input{
                                                  @include font-montserrat;
                                                  border: none;
                                                  background: rgba(255, 255, 255, .25);
                                                  font-size: 16px;
                                                  margin: 0;
                                                  padding: 16px 20px;
                                                  outline: none;
                                                  border-radius: 4px;
                                                  color: $color-white;
                                                  width: 100%;
                                                  transition: .2s;

                                                  &::placeholder {
                                                            color: $color-white;
                                                  }

                                                  &:focus {
                                                            background: rgba(255, 255, 255, .5);
                                                  }
                                        }
                              }
                              &-button {}
                    }
          }
}

// === promo ===
.section-promo {
          padding-top: 120px;
          padding-bottom: 120px;
}
.section-promo-1 {
          display: flex;

          &__content,
          &__video {
                    flex-basis: 50%;
          }

          &__content {
                    padding-right: 90px;
                    .title {
                              font-size: 32px;
                              line-height: 51px;
                              font-weight: bold;
                              margin-bottom: 56px;
                    }
                    .description-item{
                              margin-top: 28px;
                    }
          }
          &__video {
                    width: 100%;
                    height: auto;
          }
}

.section-promo-2 {
          display: flex;
          padding-top: 86px;
          margin-top: 120px;
          border-top: 1px solid $color-btn-border;
          text-align: center;
          
          .description-item + .description-item {
                    margin-left: 40px;
          }
}

// === founder ===
.section-founder {
          background-color: $color-bg-card;
          padding-top: 34px;
          .section-inner {
                    display: flex;
          }
          &__img {
                    align-self: flex-end;
          }
          &__content {
                    align-self: center;
                    padding-left: 50px;
                    &-text {
                              @include font-montserrat;
                              font-size: 24px;
                              line-height: 40px;
                    }
                    &-name {
                              font-size: 24px;
                              line-height: 49px;
                              font-weight: bold;
                    }
                    &-post {
                              font-size: 20px;
                              line-height: 29px;
                    }
          }
}

// === plans ===
.section-plans {
          padding-top: 120px;
          padding-bottom: 120px;
          text-align: center;
          &__title {
                    font-size: 36px;
                    line-height: 51px;
                    font-weight: bold;
          }
          &__subtitle {
                    font-size: 16px;
                    line-height: 28px;
                    font-weight: 300;
                    margin: 0 auto 50px;
                    width: 50%;
          }
          &__list {
                    display: flex;
                    justify-content: center;
                    &-item {
                              flex-basis: 370px;
                              padding: 60px 45px;
                              &_title {
                                        font-size: 14px;
                                        line-height: 17px;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        margin-bottom: 26px;
                              }
                              &_price {
                                        margin-bottom: 26px;
                                        .prefix {
                                                  color: $color-pink;
                                                  font-size: 72px;
                                                  line-height: 86px;
                                                  font-weight: bold;
                                        }
                                        .postfix {
                                                  font-size: 14px;
                                                  line-height: 17px;
                                                  font-weight: bold;
                                        }
                              }
                              &_description {
                                        margin-bottom: 26px;
                                        font-size: 16px;
                                        line-height: 28px;
                                        font-weight: 300;
                              }
                              &_button {}
                              &.active {
                                        background-color: $color-bg-card;
                              }
                    }
          }
}

// === free ===
.section-free {
          text-align: center;
          color: $color-white;
          background: linear-gradient(to right, $color-yellow, $color-pink);
          padding-top: 120px;
          padding-bottom: 120px;

          &__title {
                    font-size: 55px;
                    line-height: 60px;
                    font-weight: bold;
                    margin-bottom: 26px;
          }
          &__description {
                    @include font-montserrat;
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 40px;
                    width: 50%;
                    margin: 0 auto;
          }
          &__button {
                    padding-top: 20px;
          }
}

// === footer ===
.section-footer {
          padding-top: 80px;
          padding-bottom: 80px;
          &__logo {
                    text-align: center;
                    font-size: 24px;
                    line-height: 29px;
                    font-weight: bold;
                    margin-bottom: 30px;
          }
          &__nav {
                    display: flex;
                    justify-content: center;
                    margin: 0 0 75px;
                    padding: 0;
                    list-style: none;
                    li {
                              & +li {
                                        margin-left: 60px;
                              }
                              a {
                                        font-size: 14px;
                                        line-height: 20px;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        color: $color-grey;
                                        text-decoration: none;
                                        transition: .2s;

                                        &.active,
                                        &:hover {
                                                  color: $color-pink;
                                        }
                              }
                    }
          }
          &__copyrighd_and_links {
                    @include font-montserrat;
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    line-height: 18px;
                    width: 60%;
                    margin: 0 auto;
          }
}
.helper-link {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          li {
                    & +li {
                              margin-left: 35px;
                    }
                    a {
                              color: $color-main;
                              text-decoration: none;

                              &:hover {
                                        text-decoration: underline;
                              }
                    }
          }
}
